.picOfDrinks {
  height: 15vw;
  width: 15vw;
}

.cardDiv {
  margin: 2vw;
}

#cardButton {
  border: none;
  background-color: white;
  border-radius: 4px;
}

#cardButton:hover {
  background-color: rgb(81, 216, 209);
}
