#page {
  text-align: center;
}

h1 {
  color: rgb(81, 216, 209);
}

input {
  height: 2vw;
}

#seachButton {
  margin-left: 0.5vw;
  background-color: white;
  outline: none;
  font-size: small;
  border-radius: 50%;
  height: 5vw;
  width: 5vw;
}

#seachButton:hover {
  border-color: rgb(81, 216, 209);
}

#results {
  margin: 4.5vw;
  width: 90vw;
}

#review {
  height: 10vw;
}

.reviewCard {
  background-color: rgb(81, 216, 209);
  margin-bottom: 3vw;
  display: inline-block;
  padding: 1vw;
  margin: 4vw;
  border-radius: 4px;
}

#time {
  font-size: small;
}

.round {
  background-color: white;
  outline: none;
  font-size: larger;
  border-radius: 50%;
  height: 5vw;
  width: 5vw;
}

.round:hover {
  color: rgb(81, 216, 209);
  border-color: rgb(81, 216, 209);
  height: 5.2vw;
  width: 5.2vw;
}
.round:hover:disabled {
  color: lightgray;
  border-color: lightgray;
  height: 5vw;
  width: 5vw;
}

#prevButton {
  position: fixed;
  right: 75vw;
  bottom: 20vw;
}

#nextButton {
  position: fixed;
  left: 75vw;
  bottom: 20vw;
}

#returnButton {
  position: fixed;
  width: 7vw;
  right: 90vw;
  bottom: 42vw;
  border: none;
}

#submit {
  margin: 1vw;
  width: 7vw;
}
